*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    overflow-x: hidden;
    min-width: 1280px;
    min-height: 580px;
}

/* 导航栏 */
nav{
    height: 57px;
    background-color: #fff;
}
.logo{
    height: 57px;
    width: 120px;
    padding-left: 50px;
    float: left;
}
.logo-img {
    float: left;
	width: 31px;
    height: 31px;
    padding: 13px 10px;
}
.logo span{
    float: left;
	font-family: SimHei;
	font-size: 21px;
    color: #393a3a;
    line-height: 57px;
}
.nav-r{
    float: right;
    height: 57px;
}
nav ul{
    display: inline;
    float: left;
}
nav ul li{
    display: inline-block;
    text-align: center;
    font-family: MicrosoftYaHei;
	font-size: 14px;
    color: #787b83;
    width: 64px;
    margin: 0px 12px;
    line-height: 57px;
}
nav ul li:hover{
    color: #e74f4d;
    height: 54px;
    border-bottom: 3px solid #e74f4d;
}
.login-img{
    float: left;
    padding: 20px 5px 20px 12px;
	width: 17px;
	height: 17px;
}
.login-text{
    float: left;
	font-family: MicrosoftYaHei;
	font-size: 14px;
    line-height: 57px;
    padding-right: 60px;
	color: #e74f4d;
}
/* 第一部分 */
.div1{
    position: relative;
    height:calc(100% - 57px);
    /* height: calc(100%-57px); */
    background-image: url(../image/1-7/div1.jpg);
    background-size:100% 100%; 
}
.div1:after{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    /* z-index: 1; */
    content: "";
    width: 100%;
    height: 100%;
}
.div1-text1 {
    position: absolute;
    z-index: 2;
    top:35%;
    left: 9%;
	font-family: MicrosoftYaHei;
	font-size: 60px;
	color: #ffffff;
}
.div1-text2 {
    position: absolute;
	font-family: MicrosoftYaHei;
    font-size: 21px;
    z-index: 2;
    top:48%;
    left: 10%;
	color: #fffdfd;
}
.div1-button{
    position: absolute;
    border: none;
    z-index: 2;
    top:62%;
    left: 10.5%;
    width: 331px;
    height: 65px;
    background-color: #e74f4d;
	font-family: MicrosoftYaHei;
    font-size: 30px;
    text-align: center;
    line-height: 65px;
	color: #fff;
}
/* 第二部分 */
.div2{
    display: table;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 250px;
    background-color: #fff;
}
.div2-1{
    display: inline-block;
    width: 25%;
}
.div2-img{
    display: block;
    margin: 45px auto;
}
.div2-text{
    height: 50px;
    padding: 0 80px;
    text-align: center;
	font-family: SimHei;
	font-size: 16px;
	color: #767777;
}
.div2-1 + .div2-1 .div2-text{
    border-left: 2px solid #aaa;
}
/* 第三部分 */
.div3{
    display: block;
    position: relative;
    height: 360px;
    background-color: #ededec;
    font-family: SimHei;
    font-size: 53px;
    text-align: center;
    color: #a1a1a1;
}
.div3-img{
    display: block;
    margin: 0 auto;
    padding: 89px 0 50px 0;
    width: 91px;
    height: 92px;
}
/* 第四部分 */
.div4{
    position: relative;
    height: 400px;
    background-image: url(../image/1-7/map.jpg);
    background-size: 100%;
}
/* .div4:after{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(170, 52, 50, 0.2);
    /* z-index: 1; */
    /*content: "";
    width: 100%;
    height: 100%;
} */
		/* 去掉默认样式，设置新的样式 */
		select{
            display:block;
            width:100%;
            height:100%;
            box-sizing:border-box;
            background:none;
            /* border:1px solid #222; */
            outline:none;
            -webkit-appearance:none;
            padding:0 5px;
            line-height:inherit;
            color:inherit;
            cursor:default;
            font-size:14px;
            position:relative;
            z-index:3;
            }
            select option{
                height: 36px !important;
                background-color: #e3e3e4;
                color:#a8aaaa;
            }
            select option:hover{
                background:#e74f4d !important;
                color:#fff !important; 
            }
            select option:checked{
                background:#e74f4d;
                color:#fff; 
            }
            /* 然后在外层div#selectStyle设置自定义样式 */
            #selectStyle{
            display:block;
            margin:0 auto;
            overflow:hidden;
            height:36px;
            width:236px;
            border-radius:0;
            background:#fff;
            color:#a8aaaa;
            line-height:2;
            /* 如果不想加图片，
            则可以设置一个自己的三角形样式，
            如下的自定义方式，
            见代码1 */
            position:relative;
            z-index:1;
            }
            #selectStyle:before {
                position:absolute;
                top: 9px;
                right:7px;
                display:block;
                height: 18px;
                width: 18px;
                background: #e74f4d;
                z-index: 1;
                content:"";
            }
            #selectStyle:after {
                position:absolute;
                top: 10px;
                right:11px;
                display:block;
                height: 8px;
                width: 8px;
                border: solid #fff;
                border-right: 1px;
                border-bottom: 1px;
                transform: rotate(-135deg);
                z-index: 1;
                content:"";
            }
            /* 代码1 */
            /* #selectStyle:before{
            position:absolute;
            z-index:1;
            top:50%;
            right:10px;
            margin-top:-2.5px;
            display:block;
            width:0;
            height:0;
            border-style:solid;
            border-width:5px 5px 0 5px;
            border-color:#f1f transparent transparent transparent;
            content:"";
            } */
            /* 代码1 */
            /* #selectStyle:after{
            position:absolute;
            z-index:1;
            top:50%;
            right:10px;
            margin-top:-3.5px;
            display:block;
            width:0;
            height:0;
            border-style:solid;
            border-width:5px 5px 0 5px;
            border-color:#535353 transparent transparent transparent;
            content:"";
            } */
